body{background-color:rgb(220, 255, 185);}
h1{ color:rgb(53, 94, 41); font-family:'Calibri';}
p{ color:rgb(53, 94, 41); font-family:'Calibri' ; font-size:larger;}
nav,a{font-family: "Calibri"; font-size: larger; color: rgb(53, 94, 41);}
li{font-family: "Calibri"; font-size: larger; color: rgb(53, 94, 41);}
img{ float: left ;border-radius: 15%; border-color: rgb(39, 139, 0); border-spacing: 4px;}